body {
  background-color: #f8f9fa; /* Light grey background */
}

header h1 {
  font-size: 2.5rem;
  color: #0d6efd; /* Bootstrap primary color */
}

footer p {
  font-size: 0.9rem;
}

.card {
  border: none;
  /*Removecardborder*/
  border-left: 7px solid #0d6efd;
  /*Addaprimarycolorbordertotheleft*/
  background-color: #ffffff;
  /*Whitebackground*/
  border-radius: 2rem;
}

.card-body span {
  font-size: 16px;
  font-weight: 400;
}

.deleteBtn {
  font-size: 0.8rem;
}

footer a {
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: #0056b3; /* Slightly darker blue for hover effect */
}

.icon {
  font-size: 1.5rem;
}

.error {
  font-weight: bold;
  color: red;
}
